.page {
    width:100%;
    height: 7473px;
    background-color:#2a2c2f;
    z-index:-1;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin:0;
}

@media screen and (min-width:540.01px) and (max-width:1001px){
    .page{
        background-color:aqua;
    }
}

@media screen and (min-width:320px) and (max-width:540){
    .page{
        background-color:gray;
    }
    
}