.places{
width: 987px;
height: 4098px;
margin-top:92px;
}

.places__city-kiev{
    width: 984px;
    height: 756px;
    margin:0;
    flex-wrap:wrap;
}

.places__city-gales{
    width: 984px;
    height: 756px;
    margin-top:80px;
}

.places__city-berea{
    width: 984px;
    height: 725px;
    margin-top:35px;
}

.places__city-burundi{
    width: 984px;
    height: 859px;
    margin-top:80px;
}

.places__city-huanuco{
    width: 984px;
    height: 756px;
    margin-top:51px;
}

.places__city-title{
    width:460px;
    height: 152px;
    margin:0;
    font-family:Inter;
    font-weight:900;
    font-size:72px;
    line-height:76px;
    color:white;

}

.places__city-title_gales{
    width:484px;
    height: 152px;
    margin:0;
    font-family:Inter;
    font-weight:900;
    font-size:72px;
    line-height:76px;
    color:white;
}

.places__city-title_berea{
    width:584px;
    height: 152px;
    margin:0;
    font-family:Inter;
    font-weight:900;
    font-size:72px;
    line-height:76px;
    color:white;
}

.places__city-title_burundi{
    width:460px;
    height: 152px;
    margin:0;
    font-family:Inter;
    font-weight:900;
    font-size:72px;
    line-height:76px;
    color:white;
}

.places__city-artista{
    width: 456px;
    position:absolute;
    margin-left:500px;
    margin-top:-60px;
}

.places__city-artistas{
    width: 456px;
    position:absolute;
    margin-left:500px;
    margin-top:-60px;
}

.places__city-artista_logo{
    width: 58px;
    height: 15px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
    color: #AAAAAA;
    margin-top:0;
    margin-bottom:8px;
}

.places__city-artista_nombre{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color:white;
    margin:0;

}

.places__city-texto_kiev{
    width: 484px;
    height: 203px;
    position:absolute;
    margin-left:500px;
    margin-top:-505px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_kiev2{
    width: 484px;
    height: 232px;
    position:absolute;
    margin-left:500px;
    margin-top:-277px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_gales{
    width: 484px;
    height: 174px;
    position:absolute;
    margin-left:500px;
    margin-top:-510px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_gales2{
    width: 484px;
    height: 261px;
    position:absolute;
    margin-left:500px;
    margin-top:-287px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_berea{
    width: 484px;
    height: 290px;
    position:absolute;
    margin-left:500px;
    margin-top:-510px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_berea2{
    width: 484px;
    height: 203px;
    position:absolute;
    margin-left:500px;
    margin-top:-200px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_burundi{
    width: 484px;
    height: 174px;
    position:absolute;
    margin-left:500px;
    margin-top:-515px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_burundi2{
    width: 484px;
    height: 203px;
    position:absolute;
    margin-left:500px;
    margin-top:-316px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_burundi3{
    width: 484px;
    height: 232px;
    position:absolute;
    margin-left:500px;
    margin-top:-80px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;

}

.places__city-texto_huanuco{
    width: 484px;
    height: 203px;
    position:absolute;
    margin-left:500px;
    margin-top:-515px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;
}

.places__city-texto-huanuco2{
    width: 484px;
    height: 232px;
    position:absolute;
    margin-left:500px;
    margin-top:-307px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:white;
}

.places__city-image{
    width: 460px;
    height: 460px;
    margin-top:48px;
    margin-bottom:48px;
}

.places__city-nft{
    width: 355px;
    height: 48px;
    background-color:#0278FE;
    display:block;
    text-align:center;
    font-family:Inter;
    font-weight:600;
    font-size:18px;
    line-height:2.6;
    color:white;
    margin-top:0;
    text-decoration:none;
}

.places__city-nft:hover{
    background-color:#0063D2;
}

@media screen and  (min-width:761px) and (max-width:1001px){
    .places{
        width:720px;
        height:3384px;
        margin-top:88px;
    }

    .places__city-kiev{
        width: 720px;
        height: 600px;
    }
    
    .places__city-gales{
        width: 720px;
        height: 632px;
        margin-top:31px;
    }
    
    .places__city-berea{
        width: 720px;
        height: 634px;
        margin-top:46px;
    }
    
    .places__city-burundi{
        width: 720px;
        height: 845px;
        margin-top:25px;
    }
    
    .places__city-huanuco{
        width: 720px;
        height: 530px;
        margin-top:41px;
    }
    
    .places__city-title{
        width:340;
        height: 46px;
        font-size:42px;
        line-height:46px; 
        margin-bottom:46px;  
    }
    
    .places__city-title_gales{
        width:340px;
        height: 48px;
        font-size:42px;
        line-height:46px;
        margin:21px 0 46px 0;
        padding-top:21px;
    }
    
    .places__city-title_berea{
        width:340px;
        height: 92px;
        font-size:42px;
        line-height:46px;
        margin-bottom:2px;
    }
    
    .places__city-title_burundi{
        width:340px;
        height: 92px;
        font-size:42px;
        line-height:46px;
        margin-bottom:48px;
    }
    
    .places__city-artista{
        width: 352px;
        position:absolute;
        margin-left:368px;
        margin-top:-90px;
    }

    .places__city-artistas{
        width: 352px;
        position:absolute;
        margin-left:368px;
        margin-top:-110px;
    }   
    
    .places__city-texto_kiev{
        width: 352px;
        height: 234px;
        margin-left:368px;
        margin-top:-396px;
        font-size: 16px;
        line-height: 27px;
    }
    
    .places__city-texto_kiev2{
        width: 352px;
        height: 260px;
        margin-left:368px;
        margin-top:-147px;
        font-size: 16px;
        line-height: 27px;
    }
    
    .places__city-texto_gales{
        width: 352px;
        height: 208px;
        margin-left:368px;
        margin-top:-386px;
        font-size: 16px;
        line-height: 26.08px;
    
    }
    
    .places__city-texto_gales2{
        width: 352px;
        height: 260px;
        margin-left:368px;
        margin-top:-162px;
        font-size: 16px;
        line-height: 27px;
    
    }
    
    .places__city-texto_berea{
        width: 352px;
        height: 312px;
        margin-left:368px;
        margin-top:-396px;
        font-size: 16px;
        line-height: 27px;
    
    }
    
    .places__city-texto_berea2{
        width: 352px;
        height: 208px;
        margin-left:368px;
        margin-top:-61px;
        font-size: 16px;
        line-height: 27px;
    
    }
    
    .places__city-texto_burundi{
        width: 352px;
        height: 208px;
        margin-left:368px;
        margin-top:-412px;
        font-size: 16px;
        line-height: 26.08px;
    
    }
    
    .places__city-texto_burundi2{
        width: 352px;
        height: 234px;
        margin-left:368px;
        margin-top:-195px;
        font-size: 16px;
        line-height: 26.08px;
    
    }
    
    .places__city-texto_burundi3{
        width: 352px;
        height: 260px;
        margin-left:368px;
        margin-top:47px;
        font-size: 16px;
        line-height: 26.08px;
    
    }
    
    .places__city-texto_huanuco{
        width: 352px;
        height: 234px;
        margin-left:368px;
        margin-top:-396px;
        font-size: 16px;
        line-height: 27px;
    }
    
    .places__city-texto-huanuco2{
        width: 352px;
        height: 260px;
        margin-left:368px;
        margin-top:-147px;
        font-size: 16px;
        line-height: 27px;
    }
    
    .places__city-image{
        width: 340px;
        height: 340px;
        margin-top:0px;
        margin-bottom:48px;
    }

}
@media screen and (min-width:200px) and (max-width:760.9px){
    .places{
        width:305px;
        height:auto;
        margin-top:62px;
        display:flex;
        align-items:center;
        flex-direction:column;
    }

    .places__city-kiev{
        width: 305px;
        height: 1169px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    
    .places__city-gales{
        width: 305px;
        height: 1209px;
        margin-top:36px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    
    .places__city-berea{
        width: 305px;
        height: 1186px;
        margin-top:36px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    
    .places__city-burundi{
        width: 305px;
        height: 1433px;
        margin-top:17px;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-bottom:50px;
    }
    
    .places__city-huanuco{
        width: 305px;
        height: auto;
        margin-top:50px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    
    .places__city-title{
        width:288px;
        height: 35px;
        font-size:32px;
        line-height:35px; 
        margin-bottom:30px;  
    }
    
    .places__city-title_gales{
        width:288px;
        height: 35px;
        font-size:32px;
        line-height:35px;
        margin:0 0 30px 0;
    }
    
    .places__city-title_berea{
        width:288px;
        height:35px;
        font-size:32px;
        line-height:35px;
        margin-bottom:44px;
    }
    
    .places__city-title_burundi{
        width:288px;
        height: 70px;
        font-size:32px;
        line-height:35px;
        margin-bottom:30px;
    }
    
    .places__city-artista{
        width: 288px;
        height: 67px;
        position:relative;
        display:flex;
        margin:0 0 30px 0;
        flex-direction:column;
    }

    .places__city-artistas{
        width: 288px;
        position:relative;
        display:flex;
        margin:0 0 30px 0;
        flex-direction:column;
    }   
    
    .places__city-texto_kiev{
        width: 288px;
        height: 286px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display: flex;
        margin:0 0 7px 0;
    }
    
    .places__city-texto_kiev2{
        width: 288px;
        height: 338px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display:flex;
        margin:0 0 7px 0;
    }
    
    .places__city-texto_gales{
        width: 288px;
        height: 260px;
        font-size: 16px;
        line-height: 26.08px;
        margin:16px 0 0 0;
        position:relative;
        display:flex;
    
    }
    
    .places__city-texto_gales2{
        width: 288px;
        height: 364px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display:flex;
        margin:10px 0 7px 0;
    
    }
    
    .places__city-texto_berea{
        width: 288px;
        height: 390px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display:flex;
        margin:8px 0 0 0;
    
    }
    
    .places__city-texto_berea2{
        width: 288px;
        height: 260px;
        font-size: 16px;
        line-height:26.08px;
        position:relative;
        display:flex;
        margin:0 0 6px 0;
    }
    
    .places__city-texto_burundi{
        width: 288px;
        height: 234px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display:flex;
        margin:30px 0 0 0;
    
    }
    
    .places__city-texto_burundi2{
        width:288px;
        height: 260px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display:flex;
        margin:25px 0 0 0;
    
    }
    
    .places__city-texto_burundi3{
        width: 288px;
        height: 312px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display:flex;
        margin:25px 0 4px 0;
    
    }
    
    .places__city-texto_huanuco{
        width: 288px;
        height: 246px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display: flex;
        margin:15px 0 7px 0;
    }
    
    .places__city-texto-huanuco2{
        width: 288px;
        height: 218px;
        font-size: 16px;
        line-height: 26.08px;
        position:relative;
        display:flex;
        margin:0 0 7px 0;
    }
    
    .places__city-image{
        width: 305px;
        height: 320px;
        margin:0;
        position:relative;
        display:flex;
    }
    .places__city-nft{
        width: 288px;
        font-size:14px;
        line-height:3.5;
        margin-top:0;
    }
}